<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo Excel</title>
</head>
<body>
    <h1>Subir Archivo Excel</h1>
    <!-- Se ha eliminado el atributo 'action' del formulario -->
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="archivo_excel" id="archivo_excel">
        <!-- Se ha cambiado el tipo a 'button' -->
        <input type="button" value="Subir Archivo" id="btn_upload">
    </form>

    <script>
        document.getElementById('archivo_excel').addEventListener('change', function(event){
            var archivo = event.target.files[0];
            var formData = new FormData();
            formData.append('archivo_excel', archivo);
        
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Datos del Excel:', data);
            })
            .catch(error => console.error('Error:', error));
        });
        </script>
        
</body>
</html>
